<div class="first-page-wrapper">

  <%= render "shared/navbar"%>

  <% if user_signed_in? %> 
    <%= render "shared/home"%> 
  <%else%> 
    <%= render "shared/top"%>
  <%end%> 
</div>

<%= render "shared/footer"%>
