ul,li {
  padding: 0;
  margin: 0;
}

body{
  font: 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust:100%;
  overflow-x: hidden;
  background: #fff;
}

.navbar-wrap {
  height: 60px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  border: 1px solid white;
  z-index: 100;
  top: 0;
}

.heading {
  width: 50%;
  height: 100%;
}

.logo-icon {
  width: 70px;
  height: 100%
  
}

.navbar {
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.menu-pc {
  margin: 0;
  padding: 0;
}

.menu-smafo {
  margin: 0;
  padding: 0;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.nav-list li{
  text-decoration: none;
  font-size: 18px;
}

.sign-in{
  margin-right: 2vw;
  text-decoration: none;
  color: #333333;
}

.sign-in:hover, .active{
  text-decoration: underline;
}

.sign-up{
  color: #333333;
  text-decoration: none;
}

.sign-up:hover, .active{
  text-decoration: underline;
}

.my-page{
  margin-right: 2vw;
  text-decoration: none;
  color: #333333;
}

.my-page:hover, .active{
  text-decoration: underline;
}

.friends{
  margin-right: 2vw;
  text-decoration: none;
  color: #333333;
}

.friends:hover, .active{
  text-decoration: underline;
}

.training{
  margin-right: 2vw;
  text-decoration: none;
  color: #333333;
}

.training:hover, .active{
  text-decoration: underline;
}

.log-out{
  color: #333333;
  text-decoration: none;
}

.log-out:hover, .active{
  text-decoration: underline;
}

#input{
  display: none;
}

.line{
  width:25px;
  height:3px;
  background-color: black;
  margin:3px;
}

.content{
  background-color: white;
  opacity: 0.55;
  width: 200px;
  height: 100%;
  transform: translateX(200px);
  position: fixed;
  z-index: 100;
}

#input:checked ~ .content{
  transform: translateX(-70px);
  transition: .3s ease-in-out;
}

/* RESPONSIVE 設定
------------------------------------------------------------*/

@media screen and (min-width: 865px){
  .menu-smafo{
    display: none;
  }
}
  
@media screen and (max-width: 864px){

  .menu-pc{
    display: none;
  }

  .links {
    list-style: none;
  }

  .links li{
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
  }
}