<div class='header'>
  <img src='/images/mascle.webp' class='header-img'>
  <div class='slogan'>
    <h1 class='service'>Hajime-Mascle</h1>
    <h2 class='slogan-content'>さあ、コスパ最強の自己投資を始めよう。</h2>
  </div>
</div>

<!-- VISION -->
<section class="sec01">
  <header>
    <h2>VISION</h2>
  </header>
  <div class="vision">
    近頃、新型肺炎の流行により不要な外出は避ける風潮が蔓延している。それに加え人々は日々の業務に追われ平日は自由な時間が比較的少ないのではないだろうか。このように「やらない理由」は幾つでもある。スポーツを愛する者としてこの現状は悲しいものである。そこで私は人々に提唱したい。この窮屈な社会情勢でやり遂げた達成感を身近に感じることができ健康体を保てるツールは何か。それは『筋トレ』であると。
  </div>
</section>
<!-- // VISION -->

<!-- MESSAGE -->
<section class="sec02">
  <div class="wrap">
    <p class="bg"><img src="/images/gym.jpg" class='message-img'></p>
    <div class="txt">
      <div class="vMid">
        <h2>MESSAGE</h2>
        <p>本サービスは、「友達がやっているから自分もやろう」という日本人の特性を活かしたモチベーション管理を念頭に置いています。確かに筋トレは肉体的にも精神的にもタフなものです。しかし想像してみてください。あなたと非常に仲の良い友人がトレーニングしている姿を。それは1人だけではありません。2,3人とトレーニング仲間は増えていきます。あなたも負けていられないでしょう。達成感を分かち合いたいでしょう。ここまで解像度が高くなったなら今すぐ始めましょう。思い立ったが旬です。それではあなたの仲間と刺激し合いながらトレーニングの習慣を確率していきましょう！</p>
      </div>
    </div>
  </div>
</section>
<!-- //MESSAGE -->