.friends-wrapper{
  margin-top: 100px;
  height: auto;
  min-height: 75vh;
}

.my-name{
  margin-bottom: 10px;
}

.friends-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-friends-data{
  display: flex;
  margin-bottom: 15px;
}

.friends-img{
  background-color: rgb(220, 220, 220);
}

.follow-path, .follower-path, .unfollow, .follow{
  color: #333333;
  text-decoration: none;
}

.follow-path:hover, .follower-path:hover, .active{
  text-decoration: underline;
}

.search-box{
  margin-bottom: 25px;
}

.search-input{
  height: 30px;
  background-color: rgb(206, 233, 244);
}

.search-btn{
  height: 30px;
  background-color: rgb(122, 150, 234);
}

.all-user{
  width: 45vh;
  height: auto;
  border: 1px solid rgb(220, 220, 220);
}

.each-user{
  display: flex;
  justify-content: space-between;
  margin: 5px 5px 10px 5px;
}

.user-img{
  height: 25px;
  width:25px;
}

.friends-img{
  height: 100%;
  width: 100%;
}

.left-box{
  display: flex;
}

.user-name, .unfollow-btn, .follow-btn{
  font-size: 18px;
}

.unfollow-btn, .follow-btn{
  width: 80px;
}

.unfollow-btn{
  background-color: greenyellow;
}


.follow-btn{
  background-color: lightskyblue;
}