.box-inner {
  padding: 20px 26px;
}

.signup-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-nickname {
  margin-bottom: 13px;
}

.text-field {
  resize: none;
  width:300px;
  height:30px;
}

.box-email {
  margin-bottom: 22px;
}

.box-password {
  margin-bottom: 22px;
}

.box-confirmation {
  margin-bottom: 22px;
}

.box-nickname label, .box-email label, .box-password label, .box-confirmation label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-email input[type="email"], .box-password input[type="password"],.box-confirmation input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.column-left {
  float: left;
}

.box-password a {
  font-size: 13px;
}

.box-signup {
  margin-bottom: 26px;
}

.box-signup input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#c2e7ed,#6fbfea);
  border-radius: 3px;
  border: 1px black solid;
}

.box-signup input[type="submit"]:hover {
  cursor: pointer;
  background: #56b6d3;
}

.legal-text {
  margin-top: 18px;
  font-size: 12px;
}

